@CHARSET "ISO-8859-1";

@import url(https://cdn.rawgit.com/hieonn/static_file_collection/0daab783/nanumgothic.css);

/* Reset CSS
 * --------------------------------------- */
.nanum-barun-gothic-light { font-family:NanumBarunGothicUL !important;  } 
.nanum-barun-gothic-ultralight { font-family:NanumBarunGothicLT !important;  }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: NanumBarunGothicUL;
}
